body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #084B83;
    color: #BBE6E4;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav h2 {
    display: flex;
}

nav a {
    margin-right: 15px;
    text-decoration: none;
    color: #BBE6E4;
}

.name {
    font-family: "Luminari", sans-serif;
    text-align: center;
}

img {
    display: block;
    margin: 10px auto 20px; 
}

#pink-n,
#yellow-n {
    display: inline-block;
    font-size: 200px;
    margin-right: 20px;
}

#pink-n {
    color: #ef3054;
}

#yellow-n {
    color: #fde74c;
}

section {
    padding: 40px;
}

h3 {
    color: #BBE6E4;
}

h4 {
    font-family: "Luminari", sans-serif;
    text-align: center;
}
