body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000000;
    color: #ffffff;
    letter-spacing: 1px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    z-index: 4;
    background-color: #000000;
    position: relative;
}

nav h2 {
    display: flex;
}

h2 {
    font-size: 20px;
}

nav a {
    margin-right: 15px;
    text-decoration: none;
    color: #ffffff;
}


.name {
    font-family: "Lemon", serif;
    text-align: center;
    position: relative;
    top: -300px;
    pointer-events: none;
    margin-bottom: -200px;
}

.works {
    font-family: "Lemon", serif;
    text-align: center;
    position: relative;
    pointer-events: none;
}

#bio {
    font-family: "Inter", sans-serif;
    text-align: center;
    position: relative;
    top: -110px;
    font-size: 20px;
    pointer-events: none;
    font-weight: 400;
}

#more {
    font-family: "Inter", sans-serif;
    text-align: center;
    position: relative;
    top: 50px;
    font-size: 20px;
    pointer-events: none;
    font-weight: 400;
}

#work {
    font-family: "Inter", sans-serif;
    text-align: center;
    position: relative;
    font-size: 20px;
    pointer-events: none;
    font-weight: 400;
}

#descrip {
    font-family: "Inter", sans-serif;
}

#descrip2 {
    font-family: "Inter", sans-serif;
    text-align: center;
    font-size: 20px;
    color: #fde74c;
}

p {
    font-family: "Inter", sans-serif;
}

.work {
    font-family: "Lemon", serif;
    text-align: center;
    pointer-events: none;
}

#figure {
    z-index: 4;
}

img {
    display: block;
    margin: 0px auto 0px;
}

#pink-n,
#yellow-n {
    display: inline-block;
    font-size: 150px;
    margin-right: 20px;
    letter-spacing: 5px;
}

#pink-n, #pink {
    color: #ef3054;
}

#yellow-n, #yellow {
    color: #fde74c;
}

#hashtag {
    color: #ef3054;
    /* font-weight: 700; */
}

#hashtag-y {
    color: #fde74c;
    /* font-weight: 700; */

}

footer {
    color: #9b9b9b;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:last baseline;
    padding: 0 100px;    /* position: relative; */
}

section {
    padding: 40px;
}

h3 {
    color: #ffffff;
}

h4 {
    font-family: "Lemon", serif;
    text-align: center;
}

.content-container, .project-container {
    display: flex;
    font-family: "Inter", sans-serif;
}

.content-container2 {
    display: flex;
    font-family: "Inter", sans-serif;
}

.text-content {
    font-family: "Inter", sans-erif;
    margin-left: 90px;
    width: 35%;
    padding: 40px;
    font-size: 20px;
}

.proj-content {
    font-family: "Inter", sans-erif;
    margin-left: 90px;
    padding: 40px;
    font-size: 20px;
}

.text-contents {
    font-family: "Inter", sans-erif;
    margin-left: 90px;
    width: 35%;
    padding: 70px;
    font-size: 22px;
}

.text-content2 {
    font-family: "Inter", sans-erif;
    margin-left: 100px;
    width: 90%;
    padding: 20px;
    font-size: 20px;
}

.title {
    font-family: "Lemon", sans-serif;
}

#title {
    font-family: "Lemon", sans-serif;
}

#number {
    font-family: "Lemon", sans-serif;
    text-align: center;
    color: #ef3054;
}

.data {
    gap: 10px;
}

.num {
    text-align: center;
}

#title2 {
    font-family: "Lemon", sans-serif;
    text-align: center;
    font-size: 50px;
}

.image-section {
    width: 50%;
    position: relative;
}

.image-sect {
    width: 50%;
    position: relative;
    margin-left: -80px;
}

.image-sect2 {
    width: 80%;
    position: absolute;
    margin-left: 500px;
}

#about-image {
    width: 70%;
    max-width: 100%;
    border-radius: 8px;
}

#detail-image {
    width: 90%;
    max-width: 100%;
    border-radius: 8px;
}

.buttons {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
    top: 350px;
}

.buttons h1 {
    margin: 10px;
}

.buttons-left {
    position: relative;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
    top: 50px;
}

.buttons-left h1 {
    margin: 10px;
}

.resume-button {
    display: inline-block;
    padding: 5px 100px;
    background-color: #ef3054; 
    color: #000000; 
    border-radius: 60px; 
    text-decoration: none;
    font-size: 60px;
    font-weight: 500;
}

.projects-button {
    display: inline-block;
    padding: 5px 100px;
    background-color: #fde74c; 
    color: #000000; 
    border-radius: 60px; 
    text-decoration: none;
    font-size: 60px;
    margin-top: 20px;
    font-weight: 500;
}

.highlight {
    font-family: "Lemon", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000000;
    color: #fde74c;
    /* font-style: italic; */
    letter-spacing: .5px;
}

.bold {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #000000; */
    color: #fde74c;
    /* font-style: italic; */
    letter-spacing: .5px;
}

.highlight-p {
    font-family: "Lemon", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000000;
    color: #ef3054;
    letter-spacing: .5px;
}

.highlight-g {
    font-family: "Lemon", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000000;
    color: #ffffff;
    letter-spacing: .5px;
}

.highlight-pb {
    font-family: "Lemon", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000000;
    color: #ef3054;
    letter-spacing: .5px;
    font-size: 22px;
}

.highlight-yb {
    font-family: "Lemon", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000000;
    color: #fde74c;
    letter-spacing: .5px;
    font-size: 22px;
}
.detail-button-pink, .detail-button-orange, .detail-button-yellow {
    font-family: "Inter", sans-serif;
    /* font-weight: lighter; */
    display: inline-block;
    width: 250px;
    padding: 3px;
    color: #000000;
    border-radius: 40px;
    text-decoration: none;
    font-size: 40px;
    margin-top: 20px;
    text-align: center;
    font-weight: 450;
}

.container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items:last baseline;
}

.detail-button-orange {
    background-color: #f46036
}

.detail-button-yellow {
    background-color: #fde74c
}

.small-button {
    font-family: "Inter", sans-serif;
    display: grid;
    width: 150px;
    /* padding: 3px; */
    color: #000000;
    border-radius: 40px;
    text-decoration: none;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 45%;
    text-align: center;
    font-weight: 500;
    background-color: #fde74c
}

.viewall .small-button {
    transition: transform 0.3s;
}

.viewall:hover .small-button {
    box-shadow: 0 0 10px lightgray;
}

#news {
    text-align: center;
}

#report {
    text-align: center;
    align-items: left;
}

.reportbox {
    display: flex;
    align-items: first baseline;
    justify-content: space-between;
}

.report-button {
    font-family: "Inter", sans-serif;
    display: grid;
    width: 150px;
    /* padding: 3px; */
    color: #000000;
    border-radius: 40px;
    text-decoration: none;
    font-size: 20px;
    /* margin-top: 20px; */
    /* margin-left: 45%; */
    /* text-align: center; */
    font-weight: 500;
    background-color: #ef3054
}

.prototype .small-button2 {
    transition: transform 0.3s;
}

.prototype:hover .small-button2 {
    box-shadow: 0 0 10px lightgray;
}

.small-button2 {
    font-family: "Inter", sans-serif;
    display: grid;
    width: 200px;
    padding: 10px;
    color: #000000;
    border-radius: 40px;
    text-decoration: none;
    font-size: 20px;
    margin-top: 20px;
    /* margin-left: 43%; */
    text-align: center;
    font-weight: 500;
    background-color: #fde74c
}

.prototype .small-button3 {
    transition: transform 0.3s;
}

.prototype:hover .small-button3 {
    box-shadow: 0 0 10px lightgray;
}

.small-button3 {
    font-family: "Inter", sans-serif;
    display: grid;
    width: 200px;
    padding: 10px;
    color: #000000;
    border-radius: 40px;
    text-decoration: none;
    font-size: 20px;
    margin-top: 20px;
    /* margin-left: 43%; */
    text-align: center;
    font-weight: 500;
    background-color: #ef3054
}

.detail-button-pink {
    background-color: #ef3054
}

.project {
    position: relative;
}

.project:hover {
    transform: scale(1.1);
}

.project img,
.project .detail-button-pink,
.project .detail-button-orange,
.project .detail-button-yellow {
    transition: transform 0.3s;
}

.project:hover .detail-button-pink,
.project:hover .detail-button-orange,
.project:hover .detail-button-yellow {
    box-shadow: 0 0 10px lightgray;
}

.button-shadow {
    transition: box-shadow 0.3s; 
}

.button-shadow:hover {
    box-shadow: 0 0 10px lightgray;
}

.div {
    position: relative;
    z-index: 3;
}

#arrow {
    font-size: 50px;
    margin: 0; 
    margin-top: -140px;
    transform: scaleY(-1);
    pointer-events: none;
}

.new-buttons {
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    justify-content:last baseline;
}

.c-button {
    display: inline-block;
    padding: 2px 70px;
    background-color: #ef3054; 
    color: #000000; 
    border-radius: 60px; 
    text-decoration: none;
    font-size: 40px;
    /* margin-top: 20px; */
}

.p-button {
    display: inline-block;
    padding: 2px 70px;
    background-color: #fde74c; 
    color: #000000; 
    border-radius: 60px; 
    text-decoration: none;
    font-size: 40px;
    margin-top: 20px;
}

.rowing-container {
    display: flex;
    flex-direction: row;
}

.rowing-content {
    margin-left: 90px;
    width: 35%;
    padding: 40px;
    line-height: 2;
    letter-spacing: 2px;
    font-size: 20px;
}

.rowing-text-yellow, .rowing-text-pink {
    position: absolute;
    font-family: "Lemon", sans-serif;
    font-style: regular;
    font-size: 120px;
}

.rowing-text-yellow {
    color: #fde74c; 
    text-decoration: none;
}

.rowing-text-pink {
    color: #ef3054; 
    text-decoration: none;
}

img {
    max-width: 100%;
}

.logo-container {
    order: -1;
}

h2 a.highlight, h2 a.highlight-p {
    font-family: "Lemon", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000000;
    letter-spacing: 1px;
    text-decoration: none;  /* Add this line */
    /* color: inherit; Ensure the color is inherited from the parent element */
}

a.projectbox {
    /* font-family: "Lemon", sans-serif; */
    /* margin: 0;
    padding: 0;
    box-sizing: border-box; */
    background-color: #000000;
    /* letter-spacing: 1px; */
    text-decoration: none;  /* Add this line */
    color: inherit; 
}

#proj:hover {
    /* font-family: "Lemon", sans-serif; */
    /* margin: 0;
    padding: 0;
    box-sizing: border-box; */
    /* box-shadow: 0 0 10px lightgray; */
    /* letter-spacing: 1px; */
    text-decoration: none;  /* Add this line */
    transform: scale(1.1);
}

h2 a.highlightz {
    font-family: "Lemon", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000000;
    letter-spacing: 1px;
    text-decoration: underline;  /* Add this line */
    text-underline-offset: 10px;
    color: #fde74c; 
}

a.highlightt {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000000;
    letter-spacing: 1px;
    text-decoration: underline;  /* Add this line */
    text-underline-offset: 10px;
    color: #fde74c; 
}

.center-text {
    text-align: center;
}

.align {
    display: flex;
    justify-content: space-evenly;
    align-items: first baseline;
    /* padding: 0 90px;    position: relative; */
} 

.titlebox {
    display: flex;
    padding: 0 100px;
    justify-content: space-between;
    gap: 200px;
}

.box {
    display: flex;
    flex-direction: column;
    padding: 0 200px;    /* position: relative; */
    gap: -100px;
}

.newbox {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    /* padding: 0 200px;    position: relative; */
    gap: 90px;
    /* z-index: 2; */
}

#coloring {
    color: #ef3054;
    font-weight: 500;
}

.leftbar {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    width: 60%;
}

.leftbar-b {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    width: 180%;
}

.rightbar {
    display: flex;
    flex-direction: column;
    /* padding-right: 100px; */
}

.bigbox {
    display: flex;
    /* justify-content: space-around; */
    /* flex-direction: column; */
    /* padding-right: 100px; */
}

/* Sidebar styling remains the same */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    font-family: 'Inter', sans-serif;
    display: block;
    color: #ef3054;
    padding: 16px;
    text-decoration: none;
}

.sidebar a.active {
    color: #fde74c; /* Highlight active link */
}

.sidebar a:hover:not(.active) {
    color: #ef3054;
}

.shirtbox {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.content {
    margin-left: 200px;
    padding: 16px;
    height: 1000px;
}

@media (max-width: 768px) {

    .content-container{
        flex-direction: column;
    }

    .project-container {
        flex-direction: column;
        align-items: center;
    }

    .text-content, .image-section {
        text-align: center;
    }

    .text-content p, .text-content h1 {
        margin: 10px 0;
    }

}

@media (max-width: 768px) {
    /* Styles for mobile devices */
    .desktop-only {
        display: none; /* Hide elements with class 'desktop-only' on mobile */
    }
}